.parent {
    position: relative;
    display: grid;
    /* grid-template-columns: repeat(5, 1fr); */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    padding: 20px;
    max-width: 100%;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #004d93;
    border: 0;
    color: white;
    padding: 10px 20px;
    border-radius: 12px;
    font-size: 40px;
    cursor: pointer;
}

.pagination span {
    font-size: 20px;
    margin-top: 10px;
    color: #fff;
    padding: 10px;
}

.pagination button:hover {
    background-color: #0056a2;
}

.parent>a:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

@media (min-width: 768px) {
    .parent {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px) {
    .parent {
        grid-template-columns: repeat(5, 1fr);
    }
}

