@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Modak&display=swap');


.react-multi-carousel-track {
    gap:10px;
}

.titulo {
  align-self: center; /* Centra el título verticalmente */
  text-align: center; /* Centra el texto horizontalmente */
  
}
.titulo p {
  font-size: 49px; /* Tamaño de fuente más grande */
  color: white;
  font-weight: bold;
  letter-spacing: -1px; /* Espaciado de letras reducido */
  -webkit-text-stroke: 1.3px black;
  margin: 20px 0;
}


.react-multi-carousel-list  {
  padding: 10px 0;
}