
.navbar {
  background-color: #00729e; /* Color de fondo de la barra de navegación */
  width: 100%;
}
.navbar ul {
  list-style-type: none; /* Elimina los puntos de la lista */
  margin: 0;
  padding: 0;
  display: flex;
  overflow: hidden;
  padding: 10px 5px;
  justify-content: space-between;
}
.navbar ul li {
  display: flex;
  align-items: center;
}
.TITULO{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  flex-direction: row;

}
.TITULO p {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  filter: drop-shadow(
    0 0 10px rgba(0,0,0,0.8)
  );
  filter: 2px solid black; 
}
.tituloOcti-link-img{
  filter: drop-shadow(
    0 0 10px rgba(0,0,0,0.8)
  );
  
}

.navbar ul .Categorias{
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas */
  gap: 4px;
}
.navbar ul .Categorias .categoria {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: transform 0.2s ease;
  border-radius: 10px;
}
.navbar ul .Categorias .categoria:hover {
  transform: scale(1.2); 
  background-color: #004c8f;
}
.navbar ul .Categorias .categoria .text{
  font-weight: bold;
  color: #fff;
}

.Dropdown-control  {
  border-radius: 10px;
}
.Dropdown-menu{
  border-radius: 10px;
}
li.drop{
  align-self: baseline;
}
a.categoria.backGround {
  background: #002546;
}