.card {
  width: 320px;
  height: 250px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Define dos columnas igualmente espaciadas */
  gap: 5px;
}

.children{
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.children img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* La imagen se ajusta al tamaño del contenedor manteniendo su relación de aspecto y recortando si es necesario */
  border-radius: 10px;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agrega una transición suave */
}

.children:hover img {
  transform: scale(1.1); /* Aplica un efecto de escala al hacer hover */
  cursor: pointer; /* Cambia el cursor a seleccionado */
}

